@model CH.DVDCentral.BL.Models.ShoppingCart
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].InStkQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items[0].ImagePath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InStkQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImagePath)
                </td>
                <td>

                    @Html.ActionLink("Remove", "Remove", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>




<!--This is to display the name of the row -->
<table class="table">
    <thead>
        
        <tr>
            <th>@Html.DisplayNameFor(model => model.SubTotal)</th>
            <td>
                @Html.DisplayFor(modelItem => modelItem.SubTotal)
            </td>
        </tr>
        
        <tr>
            <th>@Html.DisplayNameFor(model => model.Tax)</th>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Tax)
            </td>
        </tr>
        
        <tr>
            <th>@Html.DisplayNameFor(model => model.Total)</th>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Total)
            </td>
        </tr>

    </thead>

        <td>
        <a class="btn btn-sm btn-primary" asp-action="Checkout" >Check Out</a>
        </td>



</table>



