@model IEnumerable<CH.DVDCentral.BL.Models.Movie>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="card mb-2">

                <div class="card-header">
                    <h3>@Html.DisplayFor(ModelItem => item.Title)</h3>
                </div>

                <div class="card-body">
                    <div class="card-img" style="background-image: url('@item.ImagePath');">
                    </div>

                    <h5>@Html.DisplayFor(ModelItem => item.FormatDescription)</h5>
                    <h5>@Html.DisplayFor(ModelItem => item.RatingDescription)</h5>

                </div>

                <div class="card-footer">
                    <a class="btn btn-sm btn-primary" asp-route-id="@item.Id" asp-action="Edit">Edit</a>
                    <a class="btn btn-sm btn-primary" asp-route-id="@item.Id" asp-action="Details">Details</a>
                    <a class="btn btn-sm btn-primary" asp-route-id="@item.Id" asp-action="Delete">Delete</a>
                </div>

            </div>


        </div>
    }


</div>